name: Java CI

on:
  schedule:
    - cron: '42 0 * * 4'
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 11
    - name: Install and run IPFS
      uses: hoverkraft-tech/compose-action@v2.4.3
    - name: Build & run tests with Maven
      run: mvn test
